[Unit]
Description=Run Monitor Test Process every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=monitor-test-process.service

[Install]
WantedBy=timers.target